body {
    background-color: #131212;
    /* Replace #ffcc10 with the color of your choice */
    color: white;
}

@import "../node_modules/bootstrap/scss/bootstrap";



 h1{
      font-family: 'Poppins',sans-serif;
 }

 h5{
    font-family: 'Poppins',sans-serif;
}

h2{
    font-family: 'Poppins',sans-serif;
}

 p{
    font-family: 'Poppins',sans-serif;
}
 .form-text{
    font-family: 'Poppins',sans-serif; 
}
.form-label{
    font-family: 'Poppins',sans-serif; 
}



.navbar-collapse {
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;

}

a {
    font-family: sans-serif'Poppins', sans-serif;
}

@media (min-width: 992px) {

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right:1.5rem;
        padding-left:1.5rem;
    }
}


.custombg{
    background: black url(abstract.91fe92b5.jpg);
    background-size: cover;
}

.card{
    border: none;
}

.card-body{
    background: #2e2e2e;
}

.card-body p{
    color: #c2c2c2;
}